@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&family=Luckiest+Guy&family=Mochiy+Pop+One&family=Poppins:wght@500;600;700;900&family=Rubik+Gemstones&family=Rubik+Spray+Paint&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$font1:'Mochiy Pop One',sans-serif;
$font2:'Karla',sans-serif;
$font3:'Poppins',sans-serif;
$font4: 'Rubik Gemstones',cursive;
$font5:'Rubik Spray Paint',cursive;
$font6 : 'Luckiest Guy', cursive;

// COLORS
$color1:#ff9b2f;
$color2 : #243763;
$color3 : #fff;
$color4:#ff6319;
$color5 : #3E6D9C;
$color6: #59CE8F;
$color7:#e14242;
$color8:#D2D3C9;
$color9: black;
body {
    background-image: url('../../images/bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: $color3;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        #stepper {
            ul {
                display: none;
                margin: 5px;
                li {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-family: $font3;
                    .icon {
                        font-size: 27px;
                        margin: 0 200px;
                        color: $color3;
                    }
                    .step {
                        font-size: 15px;
                        font-weight: 600;
                    }
                    .progress {
                        margin: 2px 0;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: $color3;
                        display: grid;
                        place-items: center;
                        position: relative;
                        cursor: pointer;
                        .uil {
                            display: none;
                        }
                        .number {
                            font-size: 14px;
                            color: $color4;
                            font-weight: 800;
                        }
                    }
                    .progress::after {
                        content: " ";
                        position: absolute;
                        width: 397px;
                        height: 5px;
                        background-color: $color3;
                        right: 30px;
                    }
                    .one::after {
                        width: 0;
                        height: 0;
                    }
                    .active {
                        background-color: $color4;
                        .number {
                            display: none;
                        }
                        .uil {
                            display: flex;
                        }
                    }
                    .active::after {
                        background-color: $color4;
                    }
                }
            }
        }
        .loading {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-right: 200px;
            .affiche {
                text-align: start;
                display: flex;
                align-items: center;
                margin-top: 110px;
                font-family: $font6;
                display: flex;
                color: $color1;
                .test{
                    margin-right: 15px;
                    font-size: 80px;
                    color: $color3;
                    animation: flash;
                    animation-duration: 20s;
                    animation-iteration-count:infinite;
                }
                .part{
                    font-size: 60px;
                    animation: backInLeft;
                    animation-duration: 3s;
                }
            }
            #start {
                height: 75px;
                width: 350px;
                text-align: center;
                margin: 120px 180px;
                padding: 18px 10px;
                background:$color4;
                color: white;
                font-family: $font3;
                font-size: 23px;
                font-weight: 800;
                border-radius: 25px;
                cursor: pointer;
            }
            #start:hover {
                color: $color4;
                background-color: $color3;
                font-size: 25px;
                font-weight: bolder;
            }
        }
    }
    .section {
        display: none;
        flex-direction: column;
        background-color: $color3;
        width: 45%;
        height: 350px;
        margin: 90px auto;
        border-radius: 20px;
        .logo {
            color: black;
            font: {
                family: $font6;
                size: 75px;
            }
            text-align: center;
            margin-top:20px;
            animation:rubberBand;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            .p1{
                color: $color2;
                font-size: 83px;
            }
            .p2{
                color: $color4;
            }
            .p3{
                color: $color5;
                font-size: 85px;

            }
        }
        .form {
            display: flex;
            flex-direction: column;
            margin: 5px auto;
            padding: 15px 20px;
            width: 490px;
            background-color: #fff;
            border-radius: 15px;
            #input {
                padding: 15px;
                margin-top: 15px;
                margin-bottom: 7px;
                text-align: center;
                border-radius: 30px;
                border: 3px solid black;
                font: {
                    family: $font3;
                    weight: bold;
                    size: 15px;
                }
               
            }
            .errorname {
                color: $color2;
                font: {
                    family: $font3;
                    size: 14px;
                    weight: bold;
                }
                text-align :center;
                margin:10px 0;
            }
            #btnvalider {
                cursor: pointer;
                padding: 15px;
                margin-bottom: 10px;
                text-align: center;
                background-color: $color2;
                border: none;
                color: white;
                font: {
                    family: $font3;
                    weight: bold;
                    size: 18px;
                }
            }
            #btnvalider:hover {
                background-color: $color4;
                color: white;
                font-weight: bolder;
                font-size: 20px;
            }
        }
    }
    .guide {
        background-color: white;
        color: black;
        width: 830px;
        height: 340px;
        display: none;
        flex-direction: column;
        margin: 110px auto;
        border-radius: 30px;
        .title {
            font: {
                family: $font1;
                size: 20px;
            }
            margin-top:35px;
            margin-bottom:25px;
            margin-left:35px;
            color:$color4;
        }
        .rule {
            font: {
                family: $font3;
                size: 18px;
                weight:700;
            }
            margin-bottom:10px;
            margin-left:35px;
            animation:shakeX;
            animation-duration: 4s;
        }
        #button {
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            button {
                height: 50px;
                width: 140px;
                margin: 25px 15px;
                border: none;
                outline: none;
                color: $color3;
                background-color: $color2;
                border-radius: 20px;
                font-weight: bold;
                font-family: $font3;
                font-size: 18px;
                cursor: pointer;
            }
            button:hover {
                background-color: $color4;
                color: $color3;
                font-size: 20px;
            }
        }
    }
    .application {
        display: none;
        flex-direction: column;
        margin: 20px auto;
        width: 1100px;
        height: 570px;
        padding: 15px;
        background-color: $color3;
        border-radius: 30px;
        color: $color9;
        .information {
            display: flex;
            padding: 15px;
            margin: 10px 7px;
            color: $color5;
            .categorie {
                flex: 1;
                font: {
                    family: $font3;
                    size: 14px;
                    weight: bold;
                }
            }
            .timer {
                @extend.categorie;
                text-align: right;
            }
        }
        .question {
            margin: 0 auto;
            padding: 10px;
            display: flex;
            .titre {
                font: {
                    family: $font3;
                    size: 20px;
                    weight: bold;
                }
                color: $color2;
                margin:0;
            }
            h2:first-child {
                margin: 0 10px 0 5px;
            }
        }
        .options {
            padding: 0 20px 20px;
            margin-top: 15px;
            height: 289px;
            width: 100%;
            .answer {
                font-family: $font3;
                height: 50px;
                width: 100%;
                margin: 15px auto;
                border-radius: 10px;
                padding: 10px 20px;
                font-size: 15px;
                font-weight: 800;
                color: $color9;
                overflow: hidden;
                cursor: pointer;
                border: 1px solid;
            }
            .answer:hover {
                background-color: $color5;
                color: $color3;
            }
        }
        .options .active {
            background-color: $color4;
            color: $color3;
            font-weight: 700;
        }
        .options .disabled {
            pointer-events: none;
        }
        .app-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto 50px;
            #total_correct {
                font-family: $font3;
                font-size: 18px;
                font-weight: bold;
                color: $color2;
            }
            #btnNext {
                background-color: $color2;
                color: $color3;
                display: block;
                width: 120px;
                padding: 18px 12px;
                border: none;
                border-radius: 10px;
                font-family: $font3;
                font-weight: bold;
                font-size: 15px;
                cursor: pointer;
            }
            #btnNext:hover {
                background-color: $color4;
                font-size: 16px;
                transform: translateX(5px);
            }
        }
    }
    #result {
        height: 600px;
        width: 1000px;
        padding: 20px;
        background-color: $color3;
        color: $color2;
        border-radius: 30px;
        display: none;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: auto auto;
        h6 {
            font-size: 30px;
            font-family: $font3;
            text-align: center;
            margin-top: 10px;
            color: $color5;
        }
        #points {
            font-size: 25px;
            margin-top: 10px;
            color: $color4;
        }
        .correction {
            width: 900px;
            height: 300px;
            margin: 30px auto;
            background-color: #ecf1f6;
            color: $color9;
            font-family: $font3;
            border-radius: 10px;
            overflow: scroll;
            .quest {
                display: flex;
                justify-content: center;
                padding: 15px 10px;
                font-weight: bold;
                font-size: 15px;
                text-align: center;
                margin: 25px auto;
                .quNo {
                    margin-right: 3px;
                }
            }
            .choices {
                width: 100%;
                height: 90px;
                font-family: $font3;
                .choix {
                    padding: 10px 20px;
                    font-size: 12px;
                    color:$color3;
                    margin-left: 35px;
                    margin-bottom: 10px;
                    width: 90%;
                    border-radius: 20px;
                }
                #ch1 {
                    background-color: $color6;
                }
                #ch2 {
                    background-color: $color7;
                }
            }
            .justif {
                margin-top: 20px;
                width: 95%;
                border-radius: 10px;
                margin-left: 20px;
                margin-bottom: 30px;
                background-color: $color8;
                padding: 10px 20px;
                color: $color9;
            }
        }
        .div {
            display: flex;
            justify-content: center;
            align-items: end;
            margin: auto 0;
            button {
                height: 50px;
                width: 200px;
                border: none;
                outline: none;
                background-color: $color2;
                color: $color3;
                border-radius: 20px;
                font-family: $font3;
                font-size: 12px;
                font-weight: 500;
                cursor: pointer;
                margin-top: 16px;
                margin-right: 10px;
            }
            button:hover {
                background-color: $color3;
                border: 2px solid $color4;
                color: $color4;
                font-weight: 700;
            }
        }
    }
}